* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    font-size:62.5%;
}

body{
    font-family:'Barlow Condensed', sans-serif;
    background: #f1f5f8;
    color:#222;
}

.container{
    max-width: 114rem;
    margin:0 auto;
}