//GOOGLE FONTS 
@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300;400;500;600;700;800;900&family=Cabin:wght@400;500;600;700&display=swap');

//GOOGLE FONTS VARIABLE
$PrimaryFont:'Cabin', sans-serif;
$SecondaryFont:'Barlow Condensed', sans-serif;

//COLOR VARIABLE
$PrimaryColor:#f90;
$SecondaryColor:rgba(68, 117, 221, 0.333);
$WhiteColor:#f1f5f8;
$Light:#fff;
$BlueColor:#617d98;

























// Media Querie Break Points

// Small phones
$screen-tn-max: 450px;

// Small tablets and large smartphones (landscape view)
$screen-sm-max: 596px;

// Small tablets (portrait view)
$screen-md-max: 768px;

// Tablets and small desktops
$screen-lg-max: 992px;
